h1{
    text-align: center;
    background-color: rgb(181, 238, 120);
    font-size:55px;
}
button{
    margin-right: 15px;
    margin-left: 10px;
}
.col{
    margin-top: 25px;
}
fa-icon{
    margin-right: 30px;
}